<!DOCTYPE html>

<html>
<head>
<title>Skill Matches</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Your Smart Skill Matches</h1>
<p>These users can teach skills you want to learn</p>



<div id="matchesList">
Loading matches...
</div>



<script type="module" src="/static/matches.js"></script>

</body>
</html>
