<!DOCTYPE html>
<html>

<head>
<title>My Profile</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>My Profile</h1>

<h3>Full Name</h3>
<input id="name" type="text" placeholder="Enter your name">

<br><br>

<h3>College Name</h3>
<input id="college" type="text" placeholder="Enter your college">

<br><br>

<h3>Branch / Department</h3>
<input id="branch" type="text" placeholder="Example: Computer Science">

<br><br>

<h3>Short Bio</h3>
<textarea id="bio" rows="4" cols="40" placeholder="Tell something about yourself"></textarea>

<br><br>

<h3>Availability</h3>
<input id="availability" type="text" placeholder="Example: Weekends / Evenings">


<br><br>

<button id="saveProfile">Save Profile</button>

<p id="msg"></p>

<script type="module" src="/static/profile.js"></script>

</body>

</html>