<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Sign Up</h2>

<input id="email" type="email" placeholder="Enter Email">
<br><br>

<input id="password" type="password" placeholder="Enter Password">
<br><br>

<button id="signupBtn">Sign Up</button>

<p id="message"></p>

<script type="module" src="/static/script.js"></script>

</body>
</html>